{
"extends": "airbnb",
"env": {
  "browser": true,
  "node": true,
  "jquery": true
  },
  "plugins": ["html", "json"],
  "rules": {
    "no-use-before-define": "warn",
    "comma-dangle": "warn",
    "global-require": "warn",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true, "optionalDependencies": false, "peerDependencies": false}],
    "import/first": false,
    }
}
